services:
  code-server:
    image: docker.1ms.run/codercom/code-server:latest
    container_name: code-server
    volumes:
      - ./config:/home/coder/.config
      - .:/home/coder/project
    environment:
      - PUID=501
      - PGID=20
      - PASSWORD=admin
    restart: always

  caddy:
    image: docker.1ms.run/library/caddy:latest
    container_name: caddy-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - code-server
    restart: always

volumes:
  caddy_data:
  caddy_config:
